@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/*Kleuren webpagina: grijs #899CA0 en donkergroen #1C2B32*/

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #1C2B32;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.main h2 {
    font-size: 28px;
    text-align: center;
    margin: 60px;
}


/*////////////////////////
    2. Typography
////////////////////////*/


input,
button {
    font-family: inherit;
    font-size: inherit;
}

a,
a:link {
    color: #899CA0;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/

.header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: top;
    height: 620px;
}

.header-content{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 68px;
}

.header-content h1 {
    font-size: 100px;
    font-weight: 700;
}

.header-content p {
    font-size: 15px;
}

.header-content form {
    margin-top: 30px;
    font-size: 16px;
}

.domain-name-input {
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #1C2B32;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 18px 100px 18px 22px;
    margin-right: -6px;
}

.domain-name-input::placeholder {
    color: #1C2B32;
    font-size: 16px;
}

.domain-name-button {
    background-color: #1C2B32;
    color: #FFF;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px 28px 20px 28px;
    cursor: pointer;
}

/*///////////// 3.2 Testimonial /////////////*/

.client-review-box {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.30);
    margin: 50px 0;
    height: 200px;
    position: relative;
}

.client-review-box p {
    position: absolute;
    top: 50px;
    left: 150px;
    width: 75%;
    font-size: 14px;
}

.quote-icon-left {
    position: absolute;
    top: 45px;
    left: 120px;
    width: 22px;
}

.author-info {
    position: absolute;
    left: 150px;
    top: 110px;
}

.author-photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle; /*ik kreeg de tekst niet mooi in het midden. Hoe kan je dit toch doen?*/
}

.author-name {
    display: inline-block;
    font-size: 14px;
}

/*///////////// 3.3 Support /////////////*/

.section-client-support {
    font-size: 14px;
}

.section-client-support img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #1C2B32;
    color: #FFF;
    border-radius: 30px;
    padding: 18px;
    cursor: pointer;
    margin-top: 20px;
}

/*///////////// 3.4 Faq /////////////*/

.faq-question summary {
    margin: 10px;
    cursor: pointer;
}

.faq-question p {
    background-color: #899CA0;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
}
/*///////////// 3.5 Footer /////////////*/

.footer p {
    background-color: #1C2B32;
    color: #FFFFFF;
    text-align: center;
    padding: 26px;
    margin-top: 50px;
}